<% if (typeof errors != 'undefined') { %>
<% errors.forEach(error => {  %>
<div class="msg error-msg">
    <div class="msg-content">
        <%= error.message %> <div class="icon icon-close">&times;</div>
    </div>
</div>
<% })} %>

<% if (successMessage.length > 0) { %>
<div class="msg success-msg">
    <div class="msg-content">
        <%= successMessage %> <div class="icon icon-close">&times;</div>
    </div>
</div>
<% } %>

<% if (errorMessage.length > 0) { %>
<div class="msg error-msg">
    <div class="msg-content">
        <%= errorMessage %> <div class="icon icon-close">&times;</div>
    </div>
</div>
<% } %>

<% if (error.length > 0) { %>
<div class="msg error-msg">
    <div class="msg-content">
        <%= error %> <div class="icon icon-close">&times;</div>
    </div>
</div>
<% } %>

<% if (success.length > 0) { %>
<div class="msg success-msg">
    <div class="msg-content">
        <%= success %> <div class="icon icon-close">&times;</div>
    </div>
</div>
<% } %>