<script defer src="/javascripts/card-search.js"></script>
<div class="deckbuilding-layout">
    <div class="card-search">
        <h2>Add cards</h2>
        <%- include('./partials/form_fields_card_search.ejs') %>
        <div class="card-grid card-search-grid"></div>
    </div>
    <div class="current-deck">
        <h2>Current deck</h2>
        <%- include('./partials/deck_export_buttons.ejs') %>
        <div class="card-grid deck-grid">
            <!-- TOOD: Test this -->
            <% if (typeof(deck) != 'undefined') { %>
            <% deck.cards.forEach(card => { %>
            <div class="card" style="background-image:
                url('<%= card.imageUrlHiRes != null ? card.imageUrlHiRes : card.imageurlhires %>');"
                <% for (const prop in card) {%> <% if (card.hasOwnProperty(prop)) { %>
                data-<%= prop %>="<%= card[prop] %>" <% } %> <% } %>>
            </div>
            <% }) %>
            <% } %>
        </div>
    </div>
</div>